<ion-header>
  <ion-navbar>
    <ion-title>
      QR App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
  	<ion-label floating>Insert Your Link Here</ion-label>
  	<ion-input type="url" [(ngModel)]="qrData">
  	</ion-input>
  </ion-item>
  <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create QR Code</button>
  <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan QR Code</button>

  <ion-card *ngIf="createdCode">
  	<ngx-qrcode qrc-element-type="url" [qrc-value]="createdCode"></ngx-qrcode>
  	<ion-card-content>
  		<p>Link: {{ createdCode }}</p>
  	</ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
  	<ion-card-content>
  		Result from Scan: {{ scannedCode }}
  	</ion-card-content>
  </ion-card>
</ion-content>
